<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详细信息</title>
</head>
<body>
  <h1>详细信息</h1>
  <div>
    培训中心以最严谨的教学体系为主导，依托高起点、宽视野、国际化的办学思想与"重基础、重传统、重人文、重交叉、重特色、重创新"办学理念并借鉴当代美术教学思想和各大美院的招生特点，由教学经验丰富的中央美院研究生、中国美院教授讲师定 期讲座、点评、指导教学。 教学优势培训中心以雄厚师资力量，严谨的教学态度，针对每个考生的专业特点和报考各大艺术院校的要求，因材施教，单独辅导。灵活安排教学计划并给考生第一 时间带来最新的美院省联考考试信息。另外开设文化课程，从而为考生在考前 能够有质的飞跃并顺利步入高等艺术殿堂。文化课教师由杭七中、学军中学教 师担当。考生报名后统一入住浙大公寓，并且办理就餐卡在浙大餐厅就餐。(条件:包括24小时保安、统一管理、统一被褥、空调、淋浴24小时热水、洗衣房、医院。)严格统一的军事化管理以及优越的吃住环境。
  </div>
</body>
</html>