<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浙江大学美育中心</title>
</head>
<body>
    <h1>浙江大学美育中心</h1>

    <div>
        <span style = "color :red">时间：</span>
        <span >2022.9.21</span>
    <div>
    <div>
        浙江大学成立于1897年，前身"求是书院"，是中国人最早自己创办的新式高等学府之一。是首批进入国家"211工程"和"985工程"建设的重点大学之一。在长期的办学过程中，浙江大学以严谨的求是学风培养了大批优秀人才，以执著的创新精神创造出了丰硕成果。
    </div><a href="https://baike.so.com/doc/4056159-4254412.html">点击此处跳转</a>
        <img src="https://so1.360tres.com/t0120c9b7c6e43e4484.jpg"/>
    <h2>浙江大学美育中心语言艺术队</h2>
        <div>
        <span style = "color :red">时间：</span>
        <span >2022.9.21</span>
    <div>
        <div>
            浙江大学师资队伍整体力量雄厚。现有中国科学院院士15名，中国工程院院士12名，973项目首席科学家9名，长江特聘(讲座)教授51名，杰出青年基金获得者67名。高水平的研究生导师队伍和良好的科研实验条件，为开展高水平的研究生教育打下了坚实的基础。
        </div><a href="/get/more">点击此处查看更多</a>
        <img height="100px" src="/static/780火箭.jfif"/>
        <h1>
            无数字列表：
        </h1>
        <ul>
            <li>中国移动</li>
            <li>中国联通</li>
            <li>中国电信</li>
        </ul>
        <h1>
            数字列表：
        </h1>
        <ol>
            <li>中国移动</li>
            <li>中国联通</li>
            <li>中国电信</li>
        </ol>
        <h1>
            表格：
        </h1>
        <table border="1">
            <head>
                <tr>   <th>ID</th>   <th>姓名</th>   <th>年龄</th>  </tr>
            </head>
            <body>
                <tr>   <td>10</td>   <td>敖洋智</td>   <td>18</td>  </tr>
                <tr>   <td>11</td>   <td>敖洋之</td>   <td>19</td>  </tr>
                <tr>   <td>12</td>   <td>阿姨在</td>   <td>16</td>  </tr>
                <tr>   <td>13</td>   <td>安逸在</td>   <td>13</td>  </tr>
                <tr>   <td>13</td>   <td>欧阳总</td>   <td>17</td>  </tr>
            </body>
        </table>

</body>
</html>